# ===========================
# Python
# ===========================
venv/
**/venv/

__pycache__/
**/__pycache__/

*.pyc
*.pyo
*.pyd

# ===========================
# Environment Variables
# ===========================
.env
**/.env

# ===========================
# SQLite Database
# ===========================
contact.db
*.db

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Logs
# ===========================
*.log